/bin/
/build/
/VeRecipesServer/nbproject/private/
/VeRecipesServer/build/
/VeRecipesServer/target/
/VeRecipesServerWeb/target/
/VeRecipeServerWeb/target/
/test/nbproject/private/
/VeRecipesDeployableServer/nbproject/private/
/VeRecipesDeployableServer/build/
/VeRecipesDeployableServer/target/
/VeRecipes/
derby.log
/TestSpringJPA/target/